*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body{
    text-align:center;
    background-color:aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .heading{
    font-size: 46px;
    position: absolute;
    top: 0;
  }
  .buttons{
    display:flex;
    gap:0.3rem;
    justify-content:center;
    position: relative;
  }
  .turn{
    position: absolute;
    top: -70px;
    left: 0;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .row{
    display:flex;
    gap:0.3rem;
    flex-direction:column;
  }
  
  .btn{
    width:80px;
    height:80px;
    background-color:white;
    cursor:pointer;
    border-radius:4px;
    color:black;
    font-size: 28px;
    font-weight: 500;
    border: none;
  }
  .btn:hover{
    opacity:0.7;
  }
  .reset{
    border:2px solid transparent;
    padding: .5rem 3rem;
    background-color:white;
    color: white;
    font-size: 24px;
    border-radius:6px;
    background-color: black;
    transition: all 0.25s ease;
  }
  .reset:hover{
    background-color: white;
    color : black;
    border-color: black
  }
  .after-match{
    opacity:0;
    transition:all 100ms ease;
  }
  .show-after-match{
    opacity:1;
  }
 
  .disabled-button:hover{
    cursor:default;
    opacity:1;
  }